.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_upload {

}

.form_button {
    margin: 30px;
    font-size: 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.disabled {
    background-color: gray;
}

/*
.disabled:hover {
    background-color: gray;
}

.form_button:hover {
    background-color: #2386c8;
}*/

.form_button:focus {
    outline: none;
}

.form_input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: all 250ms ease-in-out;
}

.form_input {
    background-color: #ffffff;
    box-shadow: 0 0 14px 0.3px #0e81ce96;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 0 12px 0.8px #3474dbb2;
}
